.App {
  text-align: center;
}

.answer {
  display: none;
}

/* remove aoutofill color */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 30px white inset;
}

#root {
  /*background-color: #cbc5c1; */
  background-color: #f3f0eb;
  /* background-color: #76849e;*/
}

.clear {
  clear: both;
}

h1,
h2,
h3,
h4,
.h1 {
  text-align: center;
  color: #4c586f;
  font-family: "Playfair Display", serif;
}

h1 {
  padding: 20px;
  font-size: 2.5em;
  text-transform: uppercase;
}

.line hr,
hr {
  width: 90%;
  height: 1px;
  margin: 0px auto;
  background: #4c586f;
  border: none;
}

.line-treatments {
  margin: 15px;
}

/* HAMBURGER MENU */

.hamburger-div {
  height: 90px;
}
#slide.bm-menu-wrap {
  right: 0px;
}
.bm-burger-button {
  position: absolute;
  width: 36px;
  height: 30px;
  right: 30px;
  top: 25px;
}

.bm-burger-bars {
  background: grey;
}

.bm-cross-button {
  height: 24px;
  width: 24px;
}

.bm-menu-wrap {
  max-height: 100vh;
}

.bm-menu {
  background: #4c586f;
  font-size: 1.15em;
}

.bm-item {
  display: inline-block;
  color: white;
  background-color: #4c586f;
  height: 40px;
  margin-left: 15px;
}

.bm-item-list {
  width: 100%;
}

.bm-overlay {
  background: rgba(0, 0, 0, 0.3);
}

#slide {
  right: 0px;
}

nav {
  height: 80px;
}
nav ul {
  display: none;
}

.flex-footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.footer-address,
.footer-phone {
  padding: 10px;
}

footer {
  background-color: #3e3e3b;
  color: #ebeced;
  height: 300px;
}

footer p {
  margin: 0px;
}

.icons {
  margin: 0px auto;
  height: 100%;
  display: flex;
  justify-content: center;
}

#instagram,
#facebook {
  height: 35px;
  text-align: center;
  padding: 10px;
}

#instagram img,
#facebook img {
  height: 100%;
}

#instagram:hover,
#facebook:hover {
  cursor: pointer;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

button,
#submit-login,
#register-button,
.guest-form-button {
  background-color: #4c586f;
  color: #ebeced;
  border: none;
  height: 30px;
  width: 40%;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 1.2em;
  border-radius: 4px;
  cursor: pointer;
  -webkit-transition-duration: 0.4s; /* For Safari */
  transition-duration: 0.4s;
}

button:hover {
  text-decoration: underline;
}

button:disabled {
  background: #8399c2;
}

/* HOME PAGE*/
#home-header {
  height: 100vh;
  background-image: url(../src/images/home.jpg);
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
}

.book-button-home-page {
  position: absolute;
  transform: translate(-50%, -50%);
  margin-right: -50%;
  top: 50%;
  left: 50%;
  width: 200px;
  height: 100px;
}

#home-header > button > a {
  color: #ebeced;
  text-decoration: none;
}

#home-header > button:hover a {
  text-decoration: underline;
}

.welcome-text {
  background: white;
}

.container {
  display: flex;
  align-items: baseline;
  height: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0px auto;
  padding-bottom: 40px;
}

#big-img {
  margin-top: 20px;
  height: 300px;
  position: relative;
  background-image: url(../src/images/home.jpg);
  background-size: cover;
  background-position: center;
  width: 90%;
  transform: scaleX(-1);
}

#big-img img {
  width: 100%;
}

#color-square {
  position: relative;
  height: 200px;
  background-color: #76849e;
  width: 60%;
  margin-top: -50px;
  margin-left: auto;
}

#information-text {
  position: relative;
  width: 100%;
  margin-right: auto;
  margin-top: -200px;
}

#information-text h1 {
  text-align: left;
  font-size: 2.2em;
  padding-bottom: 40px;
  padding-top: 40px;
}

.our-steps {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 100%;
  margin-top: 25px;
  padding-bottom: 50px;
}

.spa-step {
  background: white;
  margin: 0px auto;
  position: relative;
  margin-top: 170px;
  min-height: 300px;
  height: 100%;
  padding-bottom: 10px;
}

.spa-step-img {
  height: 250px;
  width: 250px;
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
}

.spa-step img {
  border-radius: 50%;
  height: 250px;
  width: 250px;
  opacity: 0.8;
}

.spa-step-text {
  text-align: center;
  width: 70%;
  margin: 0 auto;
  margin-top: 150px;
}

/* BOOKING PAGE*/

.booking-page {
  min-height: 1000px;
}
.booking {
  min-height: 100vh;
  margin-bottom: 40px;
}

#discount-button {
  text-align: center;
}

#discount-button button {
  width: 90%;
  height: 100%;
}

#booking-header {
  height: 100vh;
  background: blue;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
}

#booking-view {
  background: white;
  height: 100%;
}

.book-button {
  margin: 30px;
}

.guest-form-button-div {
  width: 80%;
  margin: 0px auto;
}

.guest-form-button,
#guest-person-info-button {
  margin-top: 20px;
  width: 100%;
}

/* FORMS */

#inlog-fail {
  color: red;
  font-size: 1.1em !important;
  padding: 10px;
  display: none;
}

#login-and-register,
#register-form,
#guest-booking-form {
  width: 100%;
  height: 100%;
  text-align: center;
  background: white;
}

#login-form {
  width: 100%;
  margin: 0px auto;
}

.form-input {
  width: 90%;
  background: transparent;
  border: none;
  text-align: center;
  font-size: 1.1em;
  height: 50px;
  margin-top: 30px;
}

.form-input:focus {
  border: none;
  outline: none;
}

#submit-login,
#register-button {
  margin: 4%;
  border-radius: 20px;
}
#button-new-user {
  background: transparent;
  color: #a2aab0;
  font-style: italic;
  padding: 4%;
  font-size: 1em;
  width: 100%;
}

#register-button {
  margin-top: 20px;
  margin-bottom: 20px;
}

/* DISCOUNT WHEN LOGGED IN */
#your-discount {
  background-color: #4c586f;
  height: 50px;
  width: 90%;
  margin: 0 auto;
  border-radius: 4px;
  display: none;
}

#your-discount h2 {
  color: #ebeced;
}
/* CONFIRMATION POPUP*/

#booking-confirmation,
#register-confirmation {
  display: none;
}

.modal-content {
  background-color: #fefefe;
  min-height: 100vh;
}

#booking-confirmation-message {
  width: 90%;
  margin: 0px auto;
  margin-top: 10%;
}

.close {
  color: #aaa;
  float: right;
  margin-right: 2%;
  font-size: 1.8em;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

/* TREATMENT PAGE */
#header-treatments {
  height: 400px;
  background-image: url(../src/images/treatments-header.jpg);
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
}

.treatments-page {
  background: #fafafa;
  width: 90%;
  margin: 0px auto;
  margin-top: -120px;
  padding-bottom: 50px;
}

.face-box,
.body-box,
.massage-box,
.lashes-box {
  background: white;
  margin: 0px auto;
  height: 200px;
  margin-bottom: 25px;
}

.face-box-img,
.body-box-img,
.massage-box-img,
.lashes-box-img {
  display: none;
}

.face-box-text,
.body-box-text,
.massage-box-text,
.lashes-box-text {
  margin: 0px auto;
  text-align: left;
  font-size: 1.2em;
  width: 90%;
  margin-left: 20px;
}

.face-box-text h2,
.body-box-text h2,
.massage-box-text h2,
.lashes-box-text h2 {
  text-align: left;
  text-decoration: underline;
}

.face-box-text p,
.body-box-text p,
.massage-box-text p,
.lashes-box-text p {
  margin: 0px;
  height: 80px;
}

#all-body-treatments,
#all-lashes-treatments,
#all-massage-treatments,
#all-face-treatments {
  display: none;
  background: white;
  margin-top: -25px;
  padding-bottom: 20px;
}

#all-body-treatments h2,
#all-lashes-treatments h2,
#all-massage-treatments h2,
#all-face-treatments h2 {
  margin: 0px auto;
  margin-top: 0px;
  padding-top: 20px;
  text-align: left;
  width: 90%;
}

.time-and-price {
  font-style: italic;
}

#all-body-treatments p,
#all-lashes-treatments p,
#all-massage-treatments p,
#all-face-treatments p {
  width: 90%;
  margin: 0px auto;
  margin-bottom: 20px;
}

.read-more-button-div {
  width: 50%;
  margin: 0px auto;
}
.read-more-button {
  width: 100%;
}

.read-more-button:hover {
  text-decoration: underline;
}

/* TREATMENT BUTTONS AND TREATMENT LIST ON BOOKING PAGE*/

.treatment-button:focus {
  outline: none;
}

.flex-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

/* BOOKING VIEW */

.face-button-div,
.massage-button-div,
.lashes-button-div,
.body-treatment-button-div {
  margin: 10px;
  width: 100%;
}

#face-button,
#massage-button,
#lashes-button,
#body-button {
  height: 100px;
  width: 100%;
}

#treatments {
  margin: 0px auto;
  text-align: center;
  width: 90%;
}

#treatments-face,
#treatments-massage,
#treatments-body,
#treatments-lashes {
  width: 100%;
  margin: 0px auto;
  display: none;
}

#treatments ul {
  padding: 0;
}

#body-treatments-list > ul {
  width: 100%;
}

#treatments ul li {
  margin: 20px 0px 20px;
  list-style: none;
  height: 100%;
  text-align: center;
  position: relative;
  border-bottom: 1px solid #a2aab0;
}

#treatments ul li p {
  margin-bottom: 10px;
  margin-top: 0px;
  text-align: left;
  width: 90%;
}

.treatment-summary {
  float: left;
  width: 70%;
  margin-left: 20px;
}

.treatmentButtonClass {
  float: right;
  right: 20px;
  top: 60%;
  position: absolute;
}

#treatments ul li h3 {
  text-align: left;
  margin: 0;
}

#treatments ul li button {
  width: 20%;
  height: 25px;
  margin-bottom: 10px;
}

#button-calendar {
  display: none;
  height: 50px;
  width: 50%;
  margin-top: 40px;
  margin: 0px auto;
}

.flex-container-time-buttons {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin: 5px;
}

#buttonTen,
#buttonEleven,
#buttonTwelve,
#buttonFourteen,
#buttonFifteen,
#buttonSixteen {
  margin: 5px;
  width: 50%;
  height: 50px;
}

#guest-form-button-div {
  width: 40%;
  margin: 0px auto;
}

#guest-form-button {
  width: 60%;
  margin-top: 20px;
}

#date-picker {
  text-align: center;
}

.react-datepicker__header {
  background: #4c586f !important;
}

.react-datepicker__current-month,
.react-datepicker__day-name {
  color: #fafafa !important;
}

.react-datepicker__day--selected {
  background: #4c586f !important;
}

#date-picker
  > div.react-datepicker-popper
  > div
  > div.react-datepicker__triangle {
  border-bottom-color: #f0f0f0;
}

.react-datepicker-wrapper {
  width: 100%;
}

.react-datepicker__input-container {
  width: 90%;
}
.react-datepicker__input-container input {
  height: 40px;
  width: 100%;
  cursor: pointer;
  text-align: center;
  font-size: 1em;
  border: 2px solid #4c586f;
  border-radius: 4px;
  color: #4c586f;
  font-size: 1.2em;
}

/* FAQ */
#header-faq {
  height: 100vh;
  background-image: url(images/bath.jpg);
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
}

#faq-view {
  width: 90%;
  background: white;
  margin: 0px auto;
  margin-top: -120px;
}

.faq-questions {
  width: 90%;
  margin: 0px auto;
  padding-bottom: 100px;
}

.individual-question {
  border-bottom: 1px solid #a2aab0;
  margin: 0px auto;
  padding: 10px;
}

.individual-question h2 {
  text-align: left;
}
.individual-question span {
  font-style: italic;
}

/* CONTACT PAGE */
#contact-view {
  background: #fafafa;
  width: 90%;
  margin: 0px auto;
  text-align: center;
  margin-top: -120px;
}

#contact-content {
  background: white;
  margin: 0px auto;
}

#contact-view h2 {
  font-size: 0.9em;
  font-style: italic;
}

#contact-view h4 {
  margin: 0px auto;
  padding: 20px;
  font-size: 1.5em;
}

.contact-icons p {
  height: 15px;
  margin: 5px;
}

.contact-icons p img {
  height: 100%;
}

#map {
  height: 400px;
  width: 100%;
  border: none;
}
/* LOGIN TO SEE BOOKINGS */

.h1 {
  font-size: 1.5em;
  text-transform: uppercase;
  font-weight: bold;
  margin: 0 auto;
  width: 80%;
  background: white;
  padding-top: 40px;
}

#personal-login {
  margin: 0px auto;
  background: white;
}
#personal-login h1 {
  display: none;
}

#login-form {
  background: white;
  margin: 0px auto;
  text-align: center;
}

#login-form p {
  font-size: 2em;
  margin: 0px;
  text-align: center;
}

/* PERSONAL PAGE WHEN LOGGED IN WITH ALL YOUR BOOKINGS*/
#personal-bookings {
  background: #fafafa;
  display: none;
}

#personal-bookings h1 {
  margin: 0px;
}

#booking-titles {
  display: flex;
  display: none;
}

#personal-booking-info {
  text-align: center;
}

#personal-booking-info div {
  padding: 20px;
}
#personal-booking-info div:nth-child(odd) {
  background: white;
}

.cancel-button {
  width: 40%;
}

/* ADMIN */
.admin-page {
  min-height: 500px;
}

.admin-page form {
  height: 100vh;
}

.admin-login {
  background: #fafafa;
}

.admin-login h1 {
  display: none;
}

.admin-text {
  margin: 0px;
  padding: 20px;
  font-size: 2.5em;
  text-transform: uppercase;
  text-align: center;
  color: #4c586f;
}

/* ------ TABLET ------ */

@media screen and (min-width: 600px) {
  .treatment-button {
    width: 45%;
  }

  .treatment-button span {
    display: inline-block;
    padding: 10px;
    background: rgba(76, 88, 111, 0.3);
    width: 250px;
  }

  .flex-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    justify-content: space-around;
  }
  .nav {
    background: #fafafa;
  }

  .nav ul {
    margin: 0px;
    text-align: center;
    padding-top: 1.5%;
  }

  .nav ul a {
    padding: 2%;
    padding-top: 2%;
    font-size: 1.2em;
    font-family: "Playfair Display", serif;
    font-weight: 700;
    color: #4c586f;
  }
  /* HOME */
  .container {
    width: 80%;
    padding-bottom: 100px;
  }

  #big-img {
    margin-top: 20px;
    width: 100%;
    height: 400px;
  }

  #big-img img {
    width: 100%;
  }

  #color-square {
    height: 320px;
    width: 320px;
    margin-top: -50px;
    margin-right: 10px;
  }

  #information-text {
    margin-top: -250px;
    width: 90%;
  }

  #information-text h1 {
    text-align: left;
    padding: 0px;
    margin: 0px;
  }

  .spa-step {
    width: 80%;
  }

  #buttonTen,
  #buttonEleven,
  #buttonTwelve,
  #buttonFourteen,
  #buttonFifteen,
  #buttonSixteen {
    width: 30%;
  }

  /* BOOKING VIEW */

  #discount-button button {
    height: 50px;
  }

  .face-button-div,
  .massage-button-div,
  .lashes-button-div,
  .body-treatment-button-div {
    height: 300px;
    width: 500px;
    margin: 10px;
  }

  .treatment-button-text {
    background-color: rgba(203, 197, 193, 0.4);
    height: 50px;
  }

  #face-button,
  #massage-button,
  #lashes-button,
  #body-button {
    background: url(./images/face-mask.jpg);
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
  }

  #massage-button {
    background: url(./images/couple-massage.jpg);
    background-size: cover;
  }

  #lashes-button {
    background: url(./images/brows.jpg);
    background-size: cover;
  }
  #body-button {
    background: url(./images/wax.jpg);
    background-size: cover;
  }

  #treatments-face,
  #treatments-massage,
  #treatments-body,
  #treatments-lashes {
    width: 80%;
  }

  .treatment-summary {
    width: 80%;
    height: 100%;
  }

  .treatmentButtonClass {
    top: 20px;
    float: right;
  }
  #treatments ul li button {
    position: absolute;
    bottom: 10px;
    right: 10px;
  }

  /* DATE PICKER*/
  .react-datepicker__input-container input {
    width: 70%;
  }

  /* FORMS */
  #register-popop {
    margin-top: 100px;
  }
  #login-and-register,
  #register-form,
  #guest-booking-form {
    width: 90%;
    margin: 0px auto;
    text-align: center;
    background: white;
  }

  #login-form {
    width: 50%;
    margin: 0px auto;
  }

  .form-input {
    background: transparent;
    border: none;
    text-align: center;
    font-size: 1.1em;
  }

  #button-new-user {
    background: transparent;
    color: #a2aab0;
    font-style: italic;
    padding: 2%;
    font-size: 1em;
    padding-bottom: 80px;
  }

  /* POPUP LOGIN*/
  .modal-content {
    border: 2px solid #a2aab0;
    width: 80%;
    min-height: 350px;
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 5px;
  }

  /* TREATMENT PAGE */
  #header-treatments {
    height: 100vh;
  }

  /* CONTACT PAGE*/

  #contact-view h2 {
    font-style: italic;
    font-size: 1em;
  }

  #contact-view h4 {
    margin: 0px auto;
    padding: 40px;
    font-size: 2em;
  }

  #contact-content {
    width: 80%;
  }

  #contact-information {
    text-align: center;
    width: 90%;
    margin: 0px auto;
    height: 100%;
  }

  #opening-hours {
    width: 50%;
    float: left;
  }

  #adress {
    width: 50%;
    float: right;
  }

  #contact-map {
    margin-top: 40px;
  }

  #contact-map img {
    width: 100%;
  }

  /* PERSONAL PAGE */

  #personal-bookings {
    width: 90%;
    margin: 0px auto;
    min-height: 600px;
    background: #fafafa;
  }

  #booking-titles {
    display: flex;
    flex-direction: row;
    font-weight: bold;
    padding: 2px;
  }

  #booking-titles div {
    width: 20%;
  }

  #personal-booking-info {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding-bottom: 20px;
    text-align: left !important;
  }

  #personal-booking-info div {
    padding: 0px;
    padding-top: 10px;
    height: 40px;
  }

  #personal-booking-info p {
    width: 20%;
    margin: 0px;
    float: left;
  }

  .cancel-button {
    width: 20%;
  }

  /* FOOTER */
  footer {
    height: 100px;
  }

  .flex-footer {
    flex-direction: row;
  }

  /* ADMIN */
  .admin-login {
    background: white;
  }
}

/* ------ DESKTOP ------ */

@media screen and (min-width: 1000px) {
  nav ul {
    display: block;
  }

  .hamburger-div {
    display: none;
  }

  .bm-burger-button {
    display: none;
  }

  .line hr {
    margin-bottom: 20px;
    width: 60%;
  }

  .line-treatments hr {
    width: 80%;
  }

  /* HOME */
  .container {
    flex-direction: row-reverse;
  }

  #big-img {
    width: 30%;
    margin-left: -100px;
  }

  #information-text {
    width: 40%;
    margin-right: -100px;
    margin-top: 50px;
  }

  #color-square {
    width: 30%;
    height: 350px;
    margin: 0px;
  }

  #information-text h1 {
    text-align: left;
    margin: 0px;
    padding: 0px;
  }

  .container {
    flex-direction: row-reverse;
    width: 90%;
    max-width: 1900px;
    margin: 0px auto;
    align-content: center;
  }

  #big-img {
    height: 555px;
    width: 40%;
  }

  #information-text {
    width: 40%;
    margin-right: -200px;
    margin-top: 0px;
  }

  #information-text h1 {
    font-size: 3em;
  }

  #color-square {
    width: 30%;
    height: 450px;
    margin: 0px;
  }

  .our-steps {
    width: 90%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
  }

  .spa-step {
    width: 31%;
    min-height: 500px;
    padding-bottom: 10px;
  }

  .spa-step img {
    border-radius: 50%;
    opacity: 0.8;
  }

  .spa-step-text {
    font-size: 1.2em;
  }

  .spa-step p {
    margin: 0px;
  }

  /* BOOKING PAGE */
  #booking-view {
    margin: 0px auto;
    width: 90%;
    height: 100%;
  }
  .treatment-button {
    width: 22%;
    margin: 15px;
    cursor: pointer;
    -webkit-transition-duration: 0.4s; /* For Safari */
    transition-duration: 0.4s;
  }

  #treatments {
    margin: 0px auto;
    text-align: center;
  }

  #body-treatments-list {
    height: 100%;
  }
  #treatments-face,
  #treatments-massage,
  #treatments-body,
  #treatments-lashes {
    width: 60%;
  }

  #treatments-body ul li,
  #treatments-face ul li,
  #treatments-lashes ul li,
  #treatments-massage ul li {
    margin: 15px;
  }

  #treatments-body button,
  #treatments-face button,
  #treatments-lashes button,
  #treatments-massage button {
    height: 40px;
  }

  #treatments-body p,
  #treatments-face p,
  #treatments-lashes p,
  #treatments-massage p {
    margin: 0px;
  }

  .treatment-summary span {
    font-size: 0.7em;
    font-style: italic;
  }

  #time-buttons {
    text-align: center;
    width: 50%;
    margin: 0px auto;
  }

  .guest-form-button-div {
    width: 30%;
    margin: 0px auto;
  }

  .guest-form-button,
  #guest-person-info-button {
    margin-top: 20px;
    margin-bottom: 20px;
    width: 100%;
    height: 40px;
  }

  /* DATE PICKER*/
  .react-datepicker__input-container input {
    width: 50%;
  }

  /* POPUP LOGIN*/
  .modal-content {
    width: 60%;
    margin-top: 40px;
  }

  #login-form {
    width: 80%;
  }

  /* TREATMENT PAGE */
  .face-box,
  .body-box,
  .massage-box,
  .lashes-box {
    width: 70%;
    position: relative;
  }

  #all-body-treatments,
  #all-lashes-treatments,
  #all-massage-treatments,
  #all-face-treatments {
    width: 70%;
    margin: 0px auto;
    margin-bottom: 20px;
    margin-top: -25px;
    display: none;
    background: white;
  }

  .read-more-button {
    width: 20%;
    position: absolute;
    bottom: 10px;
    right: 10px;
  }

  .read-more-button:hover {
    text-decoration: underline;
  }

  .face-box,
  .body-box,
  .massage-box,
  .lashes-box {
    background: white;
    margin: 0px auto;
    height: 250px;
    margin-bottom: 25px;
  }

  .face-box-img,
  .body-box-img,
  .massage-box-img,
  .lashes-box-img {
    display: block;
    height: 250px;
    width: 250px;
    float: left;
  }

  .face-box-img img,
  .body-box-img img,
  .massage-box-img img,
  .lashes-box-img img {
    height: 250px;
    width: 250px;
  }

  .face-box-text,
  .body-box-text,
  .massage-box-text,
  .lashes-box-text {
    width: 55%;
    float: left;
  }

  .time-and-price {
    font-size: 0.8em;
  }
  /* FAQ */

  .individual-question {
    width: 70%;
    margin: 0px auto;
    cursor: pointer;
  }

  /* CONTACT */
  #contact-information {
    width: 60%;
  }

  /* LOGIN TO SEE BOOKINGS */

  #personal-login {
    width: 90%;
    background: #fafafa;
  }

  /* ADMIN */
  .admin-login {
    width: 90%;
    background: #fafafa;
    margin: 0px auto;
  }
}
