.App {
  text-align: center;
}

#root {
  background-color: #cbc5c1;
}

.clear {
  clear: both;
}

h1 {
  text-align: center;
  color: #4c586f;
}

footer {
  background-color: #3e3e3b;
  color: #ebeced;
  height: 100px;
}

footer p {
  margin: 0px;
}
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

button,
#submit-login {
  background-color: #4c586f;
  color: #ebeced;
  border: none;
  height: 30px;
  width: 70px;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 1.2em;
  border-radius: 4px;
  cursor: pointer;
  -webkit-transition-duration: 0.4s; /* For Safari */
  transition-duration: 0.4s;
}

button:hover {
  text-decoration: underline;
}

/* HOME PAGE*/
#home-header {
  height: 100vh;
  background: blue;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
}

.book-button-home-page {
  position: absolute;
  transform: translate(-50%, -50%);
  margin-right: -50%;
  top: 50%;
  left: 50%;
  width: 200px;
  height: 100px;
  background: rgba(255, 255, 255, 0.6);
}
.book-button-home-page:hover {
  background: rgba(255, 255, 255, 1);
}

#home-header > button > a {
  color: white;
}

#home-header > button:hover a {
  color: rgb(8, 42, 82);
}

/* BOOKING PAGE*/
#booking {
  height: 100%;
}

#button-calendar {
  display: none;
  height: 100%;
}

#discount-button {
  text-align: center;
}

#discount-button button {
  width: 90%;
  height: 50px;
}

#booking-header {
  height: 100vh;
  background: blue;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
}

#booking-view {
  background: white;
  height: 100%;
}

#guest-booking-form {
  width: 50%;
  margin: 0px auto;
  text-align: center;
}

#guest-booking-form input {
  width: 50%;
  background: transparent;
  border: none;
  border-bottom: 2px solid rgb(8, 42, 82);
  text-align: center;
  font-size: 1.1em;
  margin: 20px;
}

#guest-booking-form > form > input[type="submit"] {
  background: rgb(8, 42, 82);
  color: white;
}
#guest-booking-form > form > input[type="submit"]:hover {
  text-decoration: underline;
  cursor: pointer;
}

/* LOG IN FORM*/
#login-and-register,
#register-form {
  width: 50%;
  margin: 0px auto;
  text-align: center;
  background: white;
}

.login-form-input,
.register-form-input {
  width: 50%;
  background: transparent;
  border: none;
  border-bottom: 2px solid rgb(8, 42, 82);
  text-align: center;
  font-size: 1.1em;
  margin: 20px;
}

#button-new-user {
  width: 50%;
  height: 100%;
  background: transparent;
  color: #a2aab0;
  font-style: italic;
}

/* CONFIRMATION POPUP*/

#booking-confirmation,
#register-confirmation {
  display: none;
}

.modal-content {
  background-color: #fefefe;
  border: 1px solid #888;
  width: 50%;
  height: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}
/* TREATMENT PAGE */
#header-treatments {
  height: 100vh;
  background-image: url(../src/images/treatments-header.jpg);
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
}

.treatments-page {
  background: #fafafa;
  width: 90%;
  margin: 0px auto;
  margin-top: -100px;
  padding-top: 25px;
}

.face-box,
.body-box,
.massage-box,
.lashes-box {
  background: white;
  margin: 0px auto;
  height: 250px;
  margin-bottom: 25px;
}

.face-box-img,
.body-box-img,
.massage-box-img,
.lashes-box-img {
  border: 1px solid blue;
  box-sizing: border-box;
  height: 250px;
  width: 250px;
  float: left;
}

.face-box-img img,
.body-box-img img,
.massage-box-img img,
.lashes-box-img img {
  height: 250px;
  width: 250px;
}

.face-box-text,
.body-box-text,
.massage-box-text,
.lashes-box-text {
  border: 1px solid red;
  box-sizing: border-box;
  width: 55%;
  float: left;
}

#all-body-treatments,
#all-lashes-treatments,
#all-massage-treatments,
#all-face-treatments {
  display: none;
  background: white;
}

/* TREATMENT BUTTONS AND TREATMENT LIST ON BOOKING PAGE*/

.treatment-button {
  width: 90%;
  height: 40px;
  margin: 5px;
}

.treatment-button:focus {
  outline: none;
}

.flex-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

/* BOOKING VIEW */

.face-button-div,
.massage-button-div,
.lashes-button-div,
.body-treatment-button-div {
  height: 300px;
  width: 500px;
  margin: 10px;
}

#face-button,
#massage-button,
#lashes-button,
#body-button {
  background: url(./images/face-mask.jpg);
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
}

#massage-button {
  background: url(./images/couple-massage.jpg);
  background-size: contain;
}

#lashes-button {
  background: url(./images/brows.jpg);
  background-size: contain;
}
#body-button {
  background: url(./images/wax.jpg);
  background-size: contain;
}

#treatments {
  margin: 0px auto;
  text-align: center;
  width: 90%;
}

#treatments ul {
  padding: 0;
}

#treatments ul li {
  margin: 5px;
  list-style: none;
  height: 40px;
  text-align: center;
}

#treatments ul li button {
  width: 100%;
}

#button-calendar {
  height: 40px;
  width: 60%;
  margin-top: 40px;
  margin: 0px auto;
}

.flex-container-time-buttons {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin: 5px;
}

#buttonTen,
#buttonEleven,
#buttonTwelve,
#buttonFourteen,
#buttonFifteen,
#buttonSixteen {
  margin: 5px;
}

#guest-form-button-div {
  width: 40%;
  margin: 0px auto;
}

#guest-form-button {
  width: 100%;
}

/* FAQ */
#header-faq {
  height: 100vh;
  background-image: url(../src/images/treatments-header.jpg);
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
}

#faq-view {
  width: 90%;
  background: white;
  margin: 0px auto;
}

/* ------ TABLET ------ */

@media screen and (min-width: 600px) {
  .treatment-button {
    width: 45%;
  }

  .flex-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    justify-content: space-around;
  }
  .nav {
    background: rgba(255, 255, 255, 0.5);
    height: 80px;
  }

  .nav ul {
    margin: 0px;
    text-align: center;
  }

  .nav ul a {
    padding: 2%;
    font-size: 1.2em;
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    color: rgb(8, 42, 82);
    margin-top: 50px;
  }

  #buttonTen,
  #buttonEleven,
  #buttonTwelve,
  #buttonFourteen,
  #buttonFifteen,
  #buttonSixteen {
    width: 30%;
  }
}

/* ------ DESKTOP ------ */

@media screen and (min-width: 1000px) {
  /* BOOKING PAGE */
  #booking-view {
    margin: 0px auto;
    width: 90%;
    height: 100%;
  }
  .treatment-button {
    width: 22%;
    margin: 15px;
    cursor: pointer;
    -webkit-transition-duration: 0.4s; /* For Safari */
    transition-duration: 0.4s;
  }

  #treatments {
    margin: 0px auto;
    text-align: center;
  }

  #treatments-face,
  #treatments-massage,
  #treatments-body,
  #treatments-lashes {
    width: 50%;
    margin: 0px auto;
    display: none;
  }
  #body-treatments-list {
    height: 100%;
  }

  #treatments-body ul li,
  #treatments-facec ul li,
  #treatments-lashes ul li,
  #treatments-massage ul li {
    margin: 15px;
  }

  #treatments-body button,
  #treatments-face button,
  #treatments-lashes button,
  #treatments-massage button {
    height: 40px;
  }

  #treatments-body p,
  #treatments-face p,
  #treatments-lashes p,
  #treatments-massage p {
    margin: 0px;
  }

  .treatmentButtonClass span {
    font-size: 0.7em;
    font-style: italic;
  }

  #date-picker {
    text-align: center;
  }
  #date-picker > div.react-datepicker-popper > div {
    border: 1px solid red;
  }
  #date-picker
    > div.react-datepicker-popper
    > div
    > div.react-datepicker__triangle {
    border-bottom-color: #f0f0f0;
  }

  #time-buttons {
    text-align: center;
  }

  /* TREATMENT PAGE */
  .face-box,
  .body-box,
  .massage-box,
  .lashes-box {
    width: 70%;
    position: relative;
  }

  #all-body-treatments,
  #all-lashes-treatments,
  #all-massage-treatments,
  #all-face-treatments {
    width: 70%;
    margin: 0px auto;
  }

  .read-more-button {
    width: 20%;
    position: absolute;
    bottom: 10px;
  }

  .read-more-button:hover {
    text-decoration: underline;
  }
}
